@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen:wght@300;400;700&display=swap");

body {
  color: white;
}

.allContainer {
  background-image: url("./assets/Rect_Light1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.allContainerPelicula {
  background-image: url("./assets/Rect_Light1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.movieDetailsContainer {
  margin-top: 50px;
}

.Container {
  background-image: url("./assets/Rect_Light1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.header {
  width: 100%;
  height: 500px;
  background-image: url("https://www.pixel4k.com/wp-content/uploads/2023/02/the-batman-movie-4k_1675637679.jpg");
  background-size: cover;
  background-position: 10% 75%;
  margin-bottom: 25px;
  box-shadow: #832f29 5px 5px 5px 5px;
  height: 500px;
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
}

.Title {
  color: white;
  padding: 8px;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.logo {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-left: 10px;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  color: #ffffff;
}
.h3-buscador {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}
.h3-filtro {
  margin-top: 12px;
  display: block;
  color: white;
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}
.filtro {
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
}
.form-control {
  opacity: 0.9;
}

.poster_path {
  height: 350px;
  width: 250px;
  z-index: 1;
}

.poster_path:hover {
  transition: 0.5s ease;
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  border-radius: 12px;
  cursor: pointer;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.Recommendation {
  background-image: url("./assets/Rect_Light1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.imagenDetails {
  margin-top: 10px;
}

.textoDetails {
  margin-top: 55px;
}

.botones {
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.botones:hover {
  text-decoration: none;
  list-style-type: none;
  color: grey;
}

.botonesSection {
  float: right;
}

.titulo {
  color: white;
}

.headerTitle {
  display: inline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 1rem 2rem;
  color: white;
}

.nav-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: white;
}

.linkActivo {
  border-bottom: 2px solid #fff;
  padding-bottom: 0.1rem;
}

.Recommendation .poster {
  width: 250px;
  height: 350px;
  object-fit: cover;
}

.Recommendation .container {
  max-width: 1200px;
  margin: 0 auto;
}

.Recommendation .row {
  gap: 1px;
}
.recommendation {
  justify-content: space-evenly;
}
.poster-pelicula {
  width: 500px;
  height: 700px;
  padding: 30px;
}
.imagenDetails {
  width: 600px;
  height: 700px;
  padding: 30px;
  display: flex;
  justify-content: center;
}
.Recommendation-halloween {
  background-image: url("https://media.glamour.mx/photos/635a885f4bf1c58ff7314bee/16:9/w_2560%2Cc_limit/halloween-ku%25CC%2588rbis-schnitzen-hack-trick-viral-gettyimages-613872668.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.headerToRecommendations {
  background-color: #000000;
}

.recommendationTittle {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  text-align: center;
  font-size: 500%;
  padding: 60px;
}
.movieDescription {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}
